<html>
    <head>
        <title>Todo App</title>
        <style>
            .hidden {
                display: none;
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
            }
        </style>
    </head>
    <body>
        <form id='form' action='/todoapp/create' method="POST">
            <div>
                <label for='title'>Todo Title</label>
                <input id='title' type='text' name='title'>
            </div>
            <div>
                <p>
                    <label for='description'>Todo Description</label>
                    <input id='description' type='text' name='description'>    
                </p>
            </div>
            <div>
                <p>
                    <input type='submit' id='submit' value='Create' />
                </p>
            </div>
        </form>
        <div id='error' class='hidden'>Something went wrong!</div>
        <ul id='todoapp1'>
            {% for d in data() %}
            <li><input class="check-completed" type="checkbox" {% if d.completed %} checked {% endif %} />{{ d.title : d.description}}</li>
            {% endfor %}
        </ul>
        <dl id='todoapp2'>
            {% for d in data() %}
            <dt><input class='check-completed1' type="checkbox" {% if d.completed %} checked {% endif %} />{{ d.title }}</dt><dd>{{- d.description }}</dd>
            {% endfor %}
        </dl>
        <script>
            const checkboxes = document.querySelectorAll('.check-completed');
            for(let i = 0; i<checkboxes.length; i++){
                const checkbox = checkboxes[i];
                checkbox.onchange = function(){
                    console.log('event',e);
                    const newCompleted = e.target.checked;
                    fetch('/todoapp/set-completed', {
                        method: 'POST',
                        body: JSON.stringify({
                            'completed': newCompleted
                        }),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                }
            }
            document.getElementById('form').onsubmit = function(e){
                e.preventDefault();
                fetch('/todoapp/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'title': document.getElementById('title').value,
                        'description': document.getElementById('description').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response){
                    return response.json();
                })
                .then(function(jsonResponse) {
                    console.log(jsonResponse);
                    const liItem = document.createElement('LI');
                    liItem.innerHTML = jsonResponse[('title','description')];
                    document.getElementById('todoapp1').appendChild(liItem);

                    const dtItem = document.createElement('DT');
                    dtItem.innerHTML = jsonResponse['title'];
                    document.getElementById('todoapp2').appendChild(dtItem);

                    const ddItem = document.createElement('DD');
                    ddItem.innerHTML = jsonResponse['description'];
                    document.getElementById('todoapp2').appendChild(ddItem);

                    document.getElementById('error').className='hidden';
                })
                .catch(function(){
                    document.getElementById('error').className='';
                })
            }
        </script>
    </body>
</html>